<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
</head>
<body>
    <h1>This is a student login page</h1>
        <form method="post" action="{{ url_for('login') }}">

            <label for="usn">USN Number</label><br>
            <input type="text" name="usn" id=""><br><br>

            <label for="password">Password</label><br>
            <input type="password" name="password"><br><br>
            
            <input type="submit" name="login" value="Submit">
            <input type="submit" name="register" value="Register">
        </form>
</body>
</html>